/* *
* ESTRUCTURA PRINCIPAL DEL PROYECTO DASHBOARD
* */
body {
  max-width: 120rem;
  width: 100%;
  margin:  0  auto;
  display: grid;
  grid-template-columns: 16rem 1fr;
  transition: all 0.5s ease;
}
main {
  width: 100%;
  background-color: #6B728010;
  padding: 0 1rem;
}
@media screen and (max-width: 720px) {
  body {
    grid-template-columns: 4rem 1fr;
  }
}

/* !
! ESTILOS GLOBALES DEL DASHBOARD
! */

:root {
  --color-d-primary: #1E1E1E;
  --color-d-secondary: #ffffff;
  --color-d-terciary: #A0AEC0;
  --color-d-btn: #800020;


  --color-d-border-form: #E2E8F0;

  --color-d-main: #6B728010;
  --color-d-table: #f4f4f4;

  --box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, 
  rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, 
  rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

/* *
* ESTILOS GROBAL DE TABLAS
* */


table {
  width: 100%;
  display: table;
  border-collapse: collapse;
  margin-top: 20px;
}
th, td {
  border-bottom: 1px solid var(--color-d-terciary);
  padding: 0.4rem;
  text-align: left;
  font-size: clamp(0.8rem, 2vw, 1rem);
  text-align: center;
}
th {
  color: var(--color-d-terciary);
  font-weight: normal;
  /* background-color: var(--color-d-table); */
}
table .btn-dark, table .btn-red  {
  max-width: 6rem;
  height: min-content;
  width: 100%;
  margin: 0.2rem auto;
  cursor: pointer;
  padding: 0.2rem 1.2rem;
  border-radius: 5px;
  text-align: center;
  border: 1px solid var(--color-d-primary);
  color: var(--color-d-secondary);
  background-color: var(--color-d-primary);
  transition: all 0.5s ease;
  &:hover {
    background-color: transparent;
    color: var(--color-d-primary);
  }
}

table .btn-red, .btn-red {
  border-color: var(--color-d-btn);
  background-color: var(--color-d-btn);
}

/* *
* ESTILOS DE BOTONES "CUADRADO"
* */
.btn-red, .btn-dark {
  cursor: pointer;
  padding: 0;
  width: 3rem;
  height: 3rem;
  border: 1px solid var(--color-d-primary);
  color: var(--color-d-secondary);
  background-color: var(--color-d-primary);
  transition: all 0.5s ease;
  &:hover {
    background-color: transparent;
    color: var(--color-d-primary);
    & svg {
      fill: var(--color-d-primary);
    }
  }
}

.btn-red {
  border-color: var(--color-d-btn);
  background-color: var(--color-d-btn);
}


/* *
* ESTILOS DE CARDS
* */

.card {
  background-color: var(--color-d-secondary);
  border-radius: 10px;
  padding: 1rem;
  box-shadow: var(--box-shadow);
  animation: Opacity 1s ease;
}

/* 
<div class="card_info">
  <h2>Titulos</h2>
  <strong>Subtitulo</strong>
</div>
<div class="card_btn">
  <button>
    <svg width="20" height="20"></svg>
  </button>
</div> 
*/

.cardlarge {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: var(--color-d-secondary);
  & .card_info {
    & h2 {
      margin: 0.2rem 0;
      color: var(--color-d-terciary);
      font-size: clamp(0.8rem, 2vw, 1.4rem);
      font-weight: normal;
    }
    & strong {
      font-size: clamp(0.8rem, 2vw, 1.2rem);
    }
  }
  & .card_btn button {
    cursor: pointer;
    width: 3rem;
    height: 3rem;
    border: 0;
    border-radius: 10px;
    background-color: var(--color-d-primary);
    border: 2px solid var(--color-d-primary);
    transition: all 0.5s ease;
    & svg {
      fill: var(--color-d-secondary);
    }
    &:hover {
      background-color: var(--color-d-secondary);
      & svg {
        fill: var(--color-d-primary);
      }
    }
  }
}

/* *
* ESTILOS DE TITULO O SUBTITULO DE LAS CARDS
* */
/* 
<div class="titleinfo">
  <h2>Titulo</h2>
  <span>subtitulo(fechas, etc...)</span>
</div> 
*/

.titleinfo {
  padding: 0 1rem;
  & h2 {
    margin: 0.5rem 0;
    font-weight: normal;
    font-size: clamp(1rem, 2vw, 1.6rem);
  }
  & span {
    color: var(--color-d-terciary);
    font-size: clamp(1rem, 2vw, 1.4rem);
  }
}


/* *
* ESTILOS DE TITULO
* */
.title {
  margin: 0;
  display: flex;
  align-items: center;
  font-weight: normal;
  font-size: clamp(1.1rem, 5vw, 1.6rem);
}
/* *
* ESTILOS DE SECCION MAIN
* */

.section {
  max-width: 60rem;
  width: 100%;
  min-height: 100vh;
  padding: 2rem 0;
  margin: 0 auto;
  animation: MoveTop 0.5s ease;
  /* En cada pagina pondre el grid y su respectiva maquetación */
}


/* *
* ESTILOS GENERAL DE FORMULARIOS  
* */
form {
  & input:not(input[type="file"]), textarea, .insert_img, .styleinput {
    width: 100%;
    border: 1px solid var(--color-d-border-form);
    padding: 1rem 1rem;
    border-radius: 10px;
    outline: none;
    resize: none;
    & h3 {
      color: var(--color-d-terciary);
      font-weight: normal;
      margin: 0;
    }
    &::placeholder {
      color: var(--color-d-terciary);
    }
  }

  & .insert_img {
    color: var(--color-d-terciary);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    & input {
      display: none;
    }
    & svg {
      fill: var(--color-d-terciary);
    }
  }
  & button {
    width: 100%;
    cursor: pointer;
    border-radius: 10px;
    background-color: var(--color-d-primary);
    border: 2px solid var(--color-d-primary);
    color: var(--color-d-secondary);
    padding: 0.8rem 1rem;
    transition: all 0.5s ease;
    & svg {
      fill: var(--color-d-secondary);
    }
    &:hover {
      color: var(--color-d-primary);
      background-color: var(--color-d-secondary);
    }
  }
}

/* *
* ESTILOS GENERAL DE SECCION DE PRODUCTOS  
* */
.prodsbox {
  overflow: auto;
  display: grid;
  grid-template-columns: 1fr 3rem 3rem;
  grid-template-rows: 3rem 1fr;
  grid-template-areas: 
  "h3 btn1 btn2"
  "table1 table1 table1"
  ;
  align-items: center;
  gap: 0.3rem;
  & .h3 {
    grid-area: h3;
  }
  & .btn1 {
    grid-area: btn1;
  }
  & .btn2 {
    grid-area: btn2;
  }
  & table {
    grid-area: table1;
  }
}

/* *
* ESTILOS MODAL DIALOG
* */

#dialog {
  position: relative;
  max-width: 30rem;
  width: 100%;
  height: 30rem;
  padding: 2rem;
  border: 0;
  box-sizing: content-box;
  overflow: hidden;
  transition: all 0.5s ease;
  & img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  & button {
    cursor: pointer;
    position: absolute;
    width: 2rem;
    height: 2rem;
    background-color: var(--color-d-primary);
    color: var(--color-d-secondary);
    top: 1rem;
    right: 1rem;
    border: 0;
    font-size: 1.2rem;
    border-radius: 5px;
  }
}

@media screen and (max-width: 650px) {
  #dialog {
    max-width: 10rem;
    height: 10rem;
    padding: 0.5rem;
  }
}