:root {
  min-height: 100vh;
}

#header {
  max-width: 100%;
  width: 100%;
  height: 100vh;
  background-color: var(--color-d-primary);

  display: flex;
  flex-direction: column;
  align-items: center;

  position: sticky;
  top: 0px;
  transition: all 0.5s ease;
  & .logo {
    margin: 1rem 0;
    width: 10rem;
    height: 4rem;
    background-image: url("assets/svg/logolargepage.svg");
    background-repeat: no-repeat;
    background-size: contain;
  }
  & nav {
    width: 100%;
    display: flex;
    flex-direction: column;
    & a {
      padding: 1rem;
      text-decoration: none;
      border-left: 2px solid transparent;
      color: var(--color-d-secondary);

      display: flex;
      align-items: center;
      justify-content: start;
      gap: 1rem;
      transition: all 0.5s ease;
      & p {
        margin: 0;
      }
      &:hover {
        background-color: #ffffff20;
        border-left: 2px solid var(--color-d-secondary);
      }
    }
  }
}



@media screen and (max-width: 720px) {
  #header {

    & .logo {
      width: 3rem;
      height: 3rem;
      background-image: url("assets/svg/logo.svg");
    }
    & nav a {
      justify-content: center;
      & p {
        display: none;
      }
    }
  }
}